:root {
  --font: 'JetBrains Mono', 'Geist Mono', monospace;

  /* dark (default) */
  --bg: #0e0e0d;
  --bg-1: #161615;
  --bg-2: #1f1f1e;
  --bg-3: #2a2a28;
  --bg-4: #ffffff25;
  --border: rgba(255, 255, 255, .15);
  --border2: rgba(255, 254, 254, 0.603);
  --border-md: rgba(255, 255, 255, .24);
  --text: #f5f5f3;
  --text-2: #d6d6d2;
  --text-3: #b0b0ab;
  --text-4: #83837e;
  --accent: #ededec;
  --accent-inv: #0e0e0d;
  --cursor-c: #fff;
  --cursor: #f8f8f7;
  --cursor2: #e8e8e5;

  /* shared */
  --radius: 6px;
  --sidebar-w: 220px;
  --sidebar-c: 56px;
  --header-h: 52px;
  --t: .18s ease;
}

[data-theme="light"] {
  --bg: #c3c4bac7;
  --bg-1: #f0f0eed5;
  --bg-2: #e8e8e5de;
  --bg-3: #d8d8b9e5;
  --bg-4: #ffffff25;
  --border: rgba(0, 0, 0, .22);
  --border2: rgba(0, 0, 0, 0.452);
  --border-md: rgba(0, 0, 0, .30);
  --text: #0c0c0b;
  --text-2: #2e2e2c;
  --text-3: #54544f;
  --text-4: #6f6f69;
  --accent: #000000;
  --accent-inv: #080805;
  --cursor-c: #111;
  --cursor: #f8f8f7;
  --cursor2: #e8e8e5;
}