/* ── CONTENT ──────────────────────────────────────── */
#content {
  flex: 1;
  padding: 20px;
  max-width: 90%;
  margin: 0 auto;
  width: 100%
}
#main-content {
  flex: 1;
  max-width: 100%;
  width: 100%
}

@media (max-width: 768px) {
  #content { padding: 12px; max-width: 100%; }
}

@media (max-width: 480px) {
  #content { padding: 10px; }
}